
/*******************Classes*******************/

body{
  background-color: #F9F7F7;
}
h1{
  color: #112D4E;
}
h3{
  color: #3F72AF;
}
hr{
  border-style: dotted none none;
  border-color: #3F72AF;
  border-width: 5px;
  width: 5%;
}


/*******************IDs*******************/

#profile-pic{
  border-radius: 100%;
}





